.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0 6rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    

    &__logo {
        img {
            max-width: 100px;
        }
    }

    &__menu {

    }
}