.wrapper {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;

    &__wrapleft {
        width: 65%;
        @media (max-width: 568px) {
            width: 100%;
            padding: 10px;

        }
    }

    &__title {
        margin-top: 10px;
        padding-bottom: 0.4rem;
        font-size: 17px;
        font-weight: 400;
        opacity: 0.6;
    }

    &__left {
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5%), 0 3px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
        background-color: white;

        &--cta {
            display: flex;
            justify-content: space-between;
            padding-right: 25px;
            flex-wrap: wrap;
            @media (max-width: 568px) {
                padding-right: 0;
                flex-direction: column;
            }

            ul {
                list-style: none;
                padding: 0 20px;
                opacity: 0.7;
                position: relative;
                cursor: pointer;

            }

            &--title {
                font-size: 15px;
            }

            &--count {
                font-size: 23px;
                padding-top: 6px;
            }

            &--presentase {
                padding-bottom: 5px;
                font-size: 13px;
                font-weight: 600;
            }

            &--views {
                font-size: 10px;
            }

            &--card {
                // min-width: 112%;
                @media (max-width: 568px) {
                    display: none;
                }
            }

            &--report {
                display: flex;
                padding: 20px;
    
                select {
                    background-color: transparent;
                    border: transparent;
                    opacity: .7;
                    cursor: pointer;
                }
    
            }

        }

       
    }

    &__right {
        background-color: #3740ff;
        margin-top: 3.1rem;
        margin-left: 2rem;
        max-height: 600px;
        color: #fff;
        padding: 10px;
        width: 28%;
        @media (max-width: 568px) {
            width: 100%;
            margin: 2rem 0 0;
        }

        &--title {
            font-size: 35px;
            font-weight: 400;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        &--cta {

            &--title {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
                font-size: 13px;
                padding-bottom: 5px;
            }

            &--item {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding-top: 15px;
                        padding-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
                        font-size: 10px;
                    }
                }

                &--report {
                    padding-top: 20px;
                    font-size: 13px;
                    text-align: right;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
}

.active {
    opacity: 0.9 !important;

    &::before {
        content: "";
        left: 0;
        width: 100%;
        top: -17px;
        border-radius: 3px;
        height: 4px;
        position: absolute;
        background: #1b922f;
    }
}

.green {
    color: rgb(27, 146, 47);
}

.red {
    color: rgb(248, 3, 44);
}

.composition {
    padding-top: 1rem;
    font-size: 13px;
    display: block;
}
